@using CountryApp.Constants;
@model Country
@{
    ViewData["Title"] = "Index";
}

<h1>Add Country</h1>

<form asp-controller="Country" asp-action="Add" method="post">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div class="input-group mb-3">
        <label asp-for="Name" class="input-group-text"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="input-group mb-3">
        <label asp-for="Area" class="input-group-text"></label>
        <input asp-for="Area" class="form-control" />
        <span asp-validation-for="Area" class="text-danger"></span>
    </div>
    <div class="input-group mb-3">
        <label asp-for="Population" class="input-group-text"></label>
        <input asp-for="Population" class="form-control" />
    </div>
    <div class="input-group mb-3">
        <label asp-for="ImageUrl" class="input-group-text"></label>
        <input asp-for="ImageUrl" class="form-control" />
    </div>
    <div class="input-group mb-3">
        <label asp-for="PartsOfTheWorld" class="input-group-text text-info"></label>
        <select class="form-select" asp-for="PartsOfTheWorld" asp-items="Html.GetEnumSelectList<PartsOfTheWorld>()">
            <option value="">Choose...</option>
        </select>
    </div>
    <div class="input-group-sm mb-3">
        <label asp-for="Description" class="input-group-text text-success"></label>
        <textarea asp-for="Description" class="form-control" rows="10"></textarea>
    </div>
    <button class="btn btn-outline-primary w-25 mt-2">Add</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>

    <!-- Place the first <script> tag in your HTML's <head> -->
    <script src="https://cdn.tiny.cloud/1/4ph9brzwzvy3jsy0dpiteg0jmjrskq1sa18gl2rl9fqo4i0r/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ],
          ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
}